a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.14s ease-in-out;

  &:hover {
    color: $secondary-color;
  }
}

// @media (width: 768px) {
//   a {
//     transition: none;
//   }
// }

@include max(sm) {
  a {
    color: $primary-color-bright;
    text-decoration: none;
    transition: color 0.14s ease-in-out;

    &:hover {
      color: $secondary-color;
    }
  }
}

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 13em;
}

.socialLinks__link {
  @include button--outline();
  // @include button--circle();
}

@media (max-width: 767px) {
  .socialLinks__link {
    @include button--outline($primary-color-bright, $secondary-color);
  }
}
